body {
    background: url('DALL·E 2024-12-31 15.15.38.jpg') no-repeat center center;
    background-size: cover;
    position: relative;
    
    font-family: 'Orbitron', sans-serif;
    color: #1A1A40;
    
    width: 100%;
    text-align: center;
    margin: auto;
    padding: 0;
    z-index: 1; /* Aseguramos que el contenido del body esté por encima */
}

/* Filtro para la distorsión de la imagen */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    width: 120%;
    height: 100%;
    background: inherit;
    filter: contrast(80%) brightness(55%) hue-rotate(5deg);
    mix-blend-mode: multiply;
    animation: glitchBefore 20s infinite;
    z-index: -10; /* Se coloca detrás del contenido del body */
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 120%;
    height: 100%;
    background: inherit;
    filter: contrast(200%) brightness(90%) hue-rotate(-10deg);
    mix-blend-mode: screen;
    opacity: 0.5;
    animation: glitchAfter 12.5s infinite;
    z-index: -10; /* Se coloca detrás del contenido del body */
}


/* Estilos generales para un look más ejecutivo */
header {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo blanco semi-transparente */
    padding: 10px;
    border-bottom: 12px solid #1A1A40; /* Línea dorada elegante */
    text-align: center;
    width:auto;
}

h1 {
    
    color: #1A1A40; /* Azul marino */
    margin: 0;
    font-size: 3em;
    /*color: #052240;*/
    text-shadow: 0 0 20px #C0C0C0, 0 0 30px #C0C0C0, 0 0 40px #C0C0C0;
}

h1:hover {
    animation: glitch 0.5s infinite;
}

nav {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 5px;
    border-bottom: 10px solid #DAA520;
}

nav a {
    color: #1A1A40; /* Enlaces en azul marino */
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.2em;
}

nav a:hover {
    color: #DAA520; /* Cambio a dorado al pasar el cursor */
}

.section-title {
    font-size: 2em;
    color: #1A1A40;
    margin-top: 20px;
    
    
    padding-bottom: 10px;
    text-shadow: 0 0 10px #C0C0C0, 0 0 10px #C0C0C0, 0 0 10px #C0C0C0;
}

.content {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.7); /* Sombra sutil */
    border-top: 10px solid #1A1A40;
    border-bottom: 10px solid #DAA520;
}


.skill {
    display: inline-grid;
    justify-content: center;
    flex-wrap: wrap-reverse;
}

.skill {
    background-color: rgba(255, 255, 255, 0.9);
    
    border-top: 10px solid #1A1A40;
    border-bottom: 10px solid #DAA520;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    height: 150px;
}

.skill-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-shadow: 0 0 10px #000000, 0 0 20px #000000, 0 0 30px #000000;
}

.skill p {
    text-shadow: 0 0 10px #C0C0C0, 0 0 10px #C0C0C0, 0 0 10px #C0C0C0;
}

.skill a {
    text-shadow: 0 0 10px #C0C0C0, 0 0 10px #C0C0C0, 0 0 10px #C0C0C0;
}

/* Estilos para la sección de Links */
#links ul {
    list-style: none;
    padding: 0;
}

#links li {
    margin: 10px 0;
}

#links a {
    color: #DAA520; /* Color dorado */
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}

#links a:hover {
    text-decoration: underline;
    color: #1A1A40; /* Cambio a azul marino */
}

/* Estilos para la sección de Archivos */
#archivos ul {
    list-style: disc;
    padding-left: 20px;
    text-align: left;
}

#archivos li {
    margin: 10px 0;
}

#archivos a {
    color: #1A1A40; /* Azul marino */
    text-decoration: none;
    font-size: 1.1em;
}

#archivos a:hover {
    text-decoration: underline;
    color: #DAA520; /* Cambio a dorado */
}


footer {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-top: 2px solid #DAA520;
    text-align: center;
}

footer p {
    color: #333333;
    margin: 0;
}

img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

button {
    background-color: rgba(155, 255, 155, 0.5);
    color: white;

    padding: 10px 20px;
    border: none;
    cursor: pointer;
}
.certificate-img {
    max-width: 80%;
   
    border: 5px solid #0F0;
    border-radius: 10px;
    margin: 20px 0;
    width: 450px;
    height: 300px;
}

@keyframes glitchBefore {
    0%, 100% {
        transform: translate(0);
    }
    20% {
        transform: translate(-10px, -10px);
    }
    40% {
        transform: translate(10px, 10px);
    }
    60% {
        transform: translate(-5px, 5px);
    }
    80% {
        transform: translate(5px, -5px);
    }
}

@keyframes glitchAfter {
    0%, 100% {
        transform: translate(0);
    }
    20% {
        transform: translate(-15px, 5px);
    }
    40% {
        transform: translate(10px, -10px);
    }
    60% {
        transform: translate(5px, 10px);
    }
    80% {
        transform: translate(-10px, -5px);
    }
}
